.fondo_morado {
    background-color: violet;
}

.texto_morado {
    color: darkviolet;
}

img {
    margin: 1em;
    height: 200px;
    width: 200px;
}

card img {
    width: 100%;
    height: 100%;
}

